if [[ -f secrets.yaml ]]; then
  while IFS=$'\t' read -r key value; do
    export "${key}=${value}"
  done < <(
    sops -d secrets.yaml | yq -r 'to_entries | .[] | [.key, (.value|tostring)] | @tsv'
  )
fi
